.mat-dialog-container {
    padding: 0% !important;
}

::ng-deep #season-dialog {
    .mat-dialog-container {
        padding: 0% !important;
    }

    .mat-form-field-outline-start {
        border: 0px !important;
    }

    .mat-form-field-outline-gap {
        border: 0px !important;
    }

    .mat-form-field-outline-end {
        border: 0px !important;
    }

    .mat-form-field-appearance-outline .mat-form-field-infix {
        border: 0 !important;
    }

    .mat-form-field-appearance-outline .mat-form-field-flex {
        border       : 2px solid var(--primary-green-light);
        border-radius: 15px !important;
        color        : #000 !important;
    }

    .mat-form-field-disabled {
        .mat-input-element:disabled {
            // color: var(--text-white) !important;
        }
    }
}

textarea.mat-input-element {
    // min-height: 100px;
    // min-height: 100px;
    color: #000;
}

.label {
    margin        : 1.5rem 2rem 1.5rem 1.5rem;
    font-size     : 15px;
    font-weight   : 500;
    // color      : var(--text-white);
}

#wrapper {
    .mat-dialog-title {
        display        : flex !important;
        justify-content: space-between !important;
        align-items    : center !important;
        background     : var(--primary-green-light);
        padding        : 10px 1rem;

        .dialog-title {
            margin: 0 !important;
            color : var(--text-white);
        }

        .close-btn {
            background     : transparent !important;
            color          : var(--text-white);
            width          : 35px;
            height         : 35px;
            display        : flex;
            justify-content: center;
            align-items    : center;
        }
    }

    #dialog-content {
        display       : flex;
        flex-direction: column;
        // width: 100%;
        margin        : 0 !important;

        .top-section {
            display              : grid;
            grid-template-columns: 250px 1fr;
            gap                  : 15px;


            .photo-box {
                display       : flex;
                flex-direction: column;
                align-items   : center;
                border-radius : 15px;
                border        : 2px solid var(--primary-green-light);
                padding       : 5px;
                margin-top    : 2rem;
                max-height    : 220px;
                // width: 100%;

                .photo {
                    // width: 100%;
                    // // border: 2px solid red;
                    display        : flex;
                    justify-content: center;
                    align-items    : center;

                    // background: var(--primary-green-light);
                    // border: 2px solid red;
                    border-radius   : 15px;
                    overflow        : hidden;
                    height          : 100%;
                    width           : 100%;
                    // height       : 120px;
                    // width        : 50%;
                    position        : relative;

                    .add-icon {
                        color: var(--text-white);
                    }

                    .cat-img {
                        width     : 100%;
                        height    : 100%;
                        object-fit: cover;
                    }

                    .cat-overlay {
                        display: none;
                    }

                    &:hover .cat-overlay {
                        position       : absolute;
                        top            : 0;
                        left           : 0;
                        width          : 100%;
                        height         : 100%;
                        display        : flex;
                        justify-content: center;
                        align-items    : center;
                        background     : #21212180;
                        transition     : 1s cubic-bezier(0.5, 0, 0.5, 1);

                        .mat-icon {
                            background   : var(--primary-green-clr);
                            transform    : scale(0.8);
                            padding      : 8px;
                            border-radius: 50%;
                        }

                        .dlt-btn {
                            background : red;
                            margin-left: 0.5rem;
                        }
                    }

                    // .cat-overlay {
                    //     position: absolute;
                    //     top: 0;
                    //     left: 0;
                    //     width: 100%;
                    //     height: 100%;
                    //     display: flex;
                    //     justify-content: center;
                    //     align-items: center;
                    //     background: rgba(255, 0, 0, 0.465);
                    // }

                    // .pp {
                    //     background: red;
                    //     height: 120px;
                    //     width: 50%;
                    // }
                }
            }
        }

        .bottom-section {
            margin-block: 2rem;

            .add-section {
                // background     : #00000030;
                background     : #bababa30;
                color          : var(--primary-green-clr);
                border-radius  : 10px;
                border         : 1px dashed var(--primary-green-clr);
                display        : flex;
                justify-content: center;
                align-items    : center;
                width          : 100%;
                height         : 50px;
                cursor         : pointer;

                .add-txt {
                    margin-left: .3rem;
                }
            }

            .add-btn {
                display        : flex;
                justify-content: end;
                margin-bottom  : 1rem;
                cursor         : pointer;

                .btn {
                    color     : var(--primary-green-clr);
                    background: transparent;
                    border    : none;
                    cursor    : pointer;
                }
            }

            .episode-list {
                margin-block: 1rem;

                .episode-item {
                    // display        : flex;
                    // justify-content: space-between;
                    // align-items    : center;

                    display              : grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    padding              : 13px;
                    // background     : #00000030;
                    background           : #cdcdcd30;
                    color                : #000;

                    &:first-child {
                        border-radius: 10px 10px 0 0;
                    }

                    &:last-child {
                        border-radius: 0 0 10px 10px;
                    }
                }

                .filler-ep {
                    background-color: #ffc95c82 !important;
                }
            }
        }


        #form {
            margin-top: 2.5rem;

            .mat-form-field-appearance-outline .mat-form-field-wrapper {
                padding: 0 !important;
                margin : 0 !important;
            }

            .mat-form-field {
                width: 100% !important;

                .mat-form-field-wrapper {
                    padding: 0 !important;
                    margin : 0 !important;
                }
            }

            input.mat-input-element::placeholder {
                // color: #fff !important;
            }
        }
    }

    .mat-dialog-actions {
        padding      : 0 24px !important;
        margin-bottom: 24px !important;


        .action-btn {
            width        : 100%;
            border-radius: 15px;
            padding      : 5px;
        }

        .save-btn {
            // border: 2px solid var(--primary-green-light) !important;
            color     : var(--primary-green-clr) !important;
            background: var(--primary-green-light);
        }

        .active-btn {
            background: var(--primary-green-clr) !important;
            color     : var(--text-white) !important;
        }
    }
}

// TODO :: -- Mobile CSS


@media screen and (max-width: 600) {
    #season-dialog {
        // width: 100vw !important;
        height: 100vh !important;
    }
}