<div id="wrapper">
    <div mat-dialog-title class="">
        <h2 class="dialog-title">Add Anime</h2>
        <button mat-button class="bg-primary" mat-dialog-close class="close-btn" disableRipple>
            <mat-icon class="text-white">close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content id="dialog-content">
        <!-- <fuse-alert class="m-8 -mb-4" *ngIf="isConfigError" [appearance]="'outline'" [showIcon]="false" [type]="'error'"
            [@shake]="true">
            Configuration Error, Please contact administrator
        </fuse-alert> -->
        <!-- <label class="label">Image</label> -->
        <div class="photo-box">
            <!-- <div class="flex sm:col-span-4"> -->
            <input type="file" #fileinput (change)="updateFile('photo', $event)"
                accept="image/png, image/gif, image/jpeg" hidden />
            <!-- </div> -->

            <ng-container *ngIf="!photo['src']">
                <div class="photo" style="cursor: pointer;" (click)="fileinput.click()">
                    <mat-icon color="primary" class="add-icon">add</mat-icon>
                </div>

            </ng-container>

            <div class="photo" *ngIf="photo['src']">
                <img class="cat-img" [src]="photo['src']" alt="">

                <div class="cat-overlay">
                    <mat-icon class="edit-btn" (click)="fileinput.click()">edit</mat-icon>
                    <mat-icon class="dlt-btn" (click)="removeLogo()">delete</mat-icon>
                </div>
            </div>
        </div>

        <form [formGroup]="form" id="form">
            <mat-form-field appearance="outline">
                <input matInput placeholder="Enter Name" [formControlName]="'name'">
            </mat-form-field>


            <mat-form-field appearance="outline">
                <mat-label>Groups</mat-label>
                <mat-select [formControl]="group" multiple>
                    <mat-select-trigger>
                        {{group.value ? group.value[0] : ''}}
                        <span *ngIf="group.value?.length > 1" class="example-additional-selection">
                            (+{{group.value.length - 1}} {{group.value?.length === 2 ? 'other' : 'others'}})
                        </span>
                    </mat-select-trigger>
                    <mat-option *ngFor="let group of groups" [value]="group">{{group}}</mat-option>
                </mat-select>
            </mat-form-field>
        </form>
    </div>


    <mat-dialog-actions class="">
        <!-- <button mat-flat-button [color]="'warn'" mat-dialog-close [color]="'accent'">
            Cancel
        </button> -->
        <button mat-flat-button class="action-btn" [disabled]="this.photo['src'] === '' || !form.valid"
            [ngClass]="this.photo['src'] !== '' && form.valid ? 'active-btn' : 'save-btn'" [color]="'primary'"
            (click)="submit()">
            <span *ngIf="!loading">Save</span>

            <span *ngIf="loading" class="loader"></span>
            <!-- <img src="assets/images/avatars/spinner.gif" *ngIf="loading" alt="loading" class="h-full"> -->
        </button>
        <!-- <button mat-flat-button class="action-btn"
            [ngClass]="this.photo['src'] !== '' && form.valid ? 'active-btn' : 'save-btn'" [color]="'primary'"
            (click)="submit()">
            <span *ngIf="!loading">Save</span>
        </button> -->
    </mat-dialog-actions>
</div>